{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>coucou toi </h1>
    <button class="btn btn-primary"> coucou</button>
        <iframe
                title="La page Wikipédia consacrée à Robert Louis Stevenson"
                src="http://94.130.74.254:3000"
                width="85%" height="2000"
        >
        </iframe>
{% endblock %}
