{% extends 'base.html.twig' %}

{% block title %}Modifier le serveur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier un serveurs </h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}